@model Contact

<h2>Update @Model.FirstName</h2>

@using (Html.BeginForm("UpdateContactToDatabase", "Contact", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    <label asp-for="FirstName" class="control-label">First Name</label>

    <input type="text" name="FirstName" class="form-control" value="@Model.FirstName" />

    <label asp-for="LastName" class="control-label">Last Name</label>

    <input type="text" name="LastName" class="form-control" value="@Model.LastName" />

    <label asp-for="NumberFormatted" class="control-label">Phone Number</label>

    <input type="number" name="NumberFormatted" class="form-control" value="@Model.NumberFormatted" />

    <label asp-for="StreetAddress" class="control-label">Street</label>

    <input type="text" name="StreetAddress" class="form-control" value="@Model.StreetAddress" />

    <label asp-for="City" class="control-label">City</label>

    <input type="text" name="City" class="form-control" value="@Model.City" />

    <label asp-for="State" class="control-label">State</label>

    <input type="text" name="State" class="form-control" value="@Model.State" />

    <label asp-for="Zip" class="control-label">Zip Code</label>

    <input type="text" name="Zip" class="form-control" value="@Model.Zip" />

    <label asp-for="BirthdayFormatted" class="control-label">Birthday</label>

    <input type="number" name="BirthdayFormatted" class="form-control" value="@Model.BirthdayFormatted" />

    <label asp-for="CategoryID" class="control-label">Relation</label>

    <input type="text" name="CategoryID" class="form-control" value="@Model.CategoryID" />

    <input type="submit" value="Update Contact" class="btn btn-primary" />

}